@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family:'Futura-Book';
    src: url('../fonts/Futura-Book.eot');
    src: url('../fonts/Futura-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Book.woff') format('woff'),
         url('../fonts/Futura-Book.ttf') format('truetype'),
         url('../fonts/Futura-Book.svg#Futura-Book') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family:'Futura-Light';
    src: url('../fonts/Futura-Light.eot');
    src: url('../fonts/Futura-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Light.woff') format('woff'),
         url('../fonts/Futura-Light.ttf') format('truetype'),
         url('../fonts/Futura-Light.svg#Futura-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'interstate-lightnormal';
    src: url('../fonts/interstate-light.eot');
    src: url('../fonts/interstate-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate-light.woff') format('woff'),
         url('../fonts/interstate-light.ttf') format('truetype'),
         url('../fonts/interstate-light.svg#interstate-lightnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Futura_Bold';
    src: url('../fonts/Futura-Bold.eot');
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Bold.woff') format('woff'),
         url('../fonts/Futura-Bold.ttf') format('truetype'),
         url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura-normal';
    src: url('../fonts/futura-medium-webfont.eot');
    src: url('../fonts/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-medium.woff') format('woff'),
         url('../fonts/futura-medium-webfont.ttf') format('truetype'),
         url('../fonts/futura-medium-webfont.svg#futura-medium-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helvetica-lightregular';
    src: url('../fonts/helvetica_light.eot');
    src: url('../fonts/helvetica_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_light.woff') format('woff'),
         url('../fonts/helvetica_light.ttf') format('truetype'),
         url('../fonts/helvetica_light.svg#helvetica-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold.eot');
    src: url('../fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-bold.woff') format('woff'),
         url('../fonts/helvetica-bold.ttf') format('truetype'),
         url('../fonts/helvetica-bold.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	background:url('../images/back.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding:0px;
}

.container {
	border:solid 0px #fff;
	width:100%;
}

.form-signin {
	/*background:#292929;*/
	/*border:solid 2px #4d4d4d;*/
	margin: 0 auto;
	/*max-width: 450px;*/
	padding: 40px 30px;
	
	filter: alpha(opacity=90); /* For IE8 and earlier */
}

.container  h1{
	/*background:#292929;*/
	/*border:solid 2px #4d4d4d;*/
	color:#ffffff;
	font-family:'OpenSans-Semibold';
	font-size:20px;
	font-weight:normal;
	/*margin: 180px auto 2px auto;*/
	/*max-width: 450px;*/
	/*padding:10px 2px;*/
	/*text-align:center;*/
	opacity:0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}

.form-signin p {
	padding:3px 0px;
}

.form-signin label {
	color:#fff;
	font-family:'open_sansregular';
	font-size:24px;
	font-weight:normal;
	margin-bottom:30px;
	
}

.form-signin input[type=text], input[type=password] {
	background:none;
	border:solid 1px #fff; display:inline-block;
	float:none;
	border-radius:25px;
	color:#fff;
	font-family:'open_sansregular';
	font-size:14px;
	text-align:center;
	font-weight:normal;
	outline:none; -webkit-outline:none;
	padding:14px 2px;
	width:72%;
	margin-bottom:5px; 
	
}



.form-signin input[type=submit] {
	background:#1b9fdc;
	border:none;
	border-radius:25px;
	color:#fff;	
	font-family:'open_sansregular';
	font-size:14px;
	text-align:center;
	font-weight:normal;
	padding:14px 2px;
	margin-bottom:20px;	
	width:72%; outline:none; -webkit-outline:none;
}

.form-signin a { 	 
	color:#ffffff;
	font-family:'open_sansregular';
	font-size:14px;
	text-decoration:none;
	font-weight:normal;
	text-transform:uppercase;
	padding:4px 5px;	
}

.error-display {
	color:#dca7a7;
	font-family:'open_sansregular';
	font-size:12px;
	font-weight:normal;
	margin:5px 0px 5px 0px ; text-align:center; width:100%; float:left;
}

.alert {
	font-family:'open_sansregular';
	padding:2px 4px;
	margin-bottom:5px;
}

.alert h3 {
	font-size:14px;
	font-weight:normal;
}



/********************radhi update date 4/2/15***************************/


.container h1 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
border: 1px solid #525253; width:404px;  margin: 0px auto 0px auto; padding:40px 0; text-align:center; }

.container h1 .tv{ color:#21bedf;}

.form-signin {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
border: 1px solid #42617c; width:404px; border-top:none;}

ul,li{ list-style:none;}
a{ text-decoration:none;}
.form-signin ul{ margin:0px; padding:0px;}
.form-signin ul li { text-align:center; width:100%;}


/*::-webkit-input-placeholder { text-align:center;}
::-moz-placeholder { text-align:center;}
:-ms-input-placeholder {text-align:center;}
:-moz-placeholder {text-align:center;}

 input[placeholder],
    [placeholder],
    *[placeholder] {
      text-align:center; !important;
    }*/