@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family:'Futura-Book';
    src: url('../fonts/Futura-Book.eot');
    src: url('../fonts/Futura-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Book.woff') format('woff'),
         url('../fonts/Futura-Book.ttf') format('truetype'),
         url('../fonts/Futura-Book.svg#Futura-Book') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family:'Futura-Light';
    src: url('../fonts/Futura-Light.eot');
    src: url('../fonts/Futura-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Light.woff') format('woff'),
         url('../fonts/Futura-Light.ttf') format('truetype'),
         url('../fonts/Futura-Light.svg#Futura-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'interstate-lightnormal';
    src: url('../fonts/interstate-light.eot');
    src: url('../fonts/interstate-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate-light.woff') format('woff'),
         url('../fonts/interstate-light.ttf') format('truetype'),
         url('../fonts/interstate-light.svg#interstate-lightnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Futura_Bold';
    src: url('../fonts/Futura-Bold.eot');
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Bold.woff') format('woff'),
         url('../fonts/Futura-Bold.ttf') format('truetype'),
         url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura-normal';
    src: url('../fonts/futura-medium-webfont.eot');
    src: url('../fonts/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-medium.woff') format('woff'),
         url('../fonts/futura-medium-webfont.ttf') format('truetype'),
         url('../fonts/futura-medium-webfont.svg#futura-medium-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helvetica-lightregular';
    src: url('../fonts/helvetica_light.eot');
    src: url('../fonts/helvetica_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_light.woff') format('woff'),
         url('../fonts/helvetica_light.ttf') format('truetype'),
         url('../fonts/helvetica_light.svg#helvetica-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold.eot');
    src: url('../fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-bold.woff') format('woff'),
         url('../fonts/helvetica-bold.ttf') format('truetype'),
         url('../fonts/helvetica-bold.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	background:url('../images/back.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding:0px;
}

.container {
	border:solid 0px #fff;
	width:100%;
}

.form-signin {
	background:#3f494c;
	border:solid 2px #666e6f;
	margin: 0 auto;
	max-width: 450px;
	padding: 30px;
	opacity:0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}

.container  h1{
	background:#3f494c;
	border:solid 2px #666e6f;
	color:#cdcdcd;
	font-family:'OpenSans-Semibold';
	font-size:16px;
	font-weight:normal;
	margin: 180px auto 2px auto;
	max-width: 450px;
	padding:10px 2px;
	text-align:center;
	opacity:0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}

.form-signin p {
	padding:3px 0px;
}

.form-signin label {
	color:#a8a7a8;
	font-family:'open_sansregular';
	font-size:12px;
	font-weight:normal;
	width:120px;
}

.form-signin input[type=text], input[type=password] {
	background:#3f494c;
	border:solid 2px #666e6f;
	color:#a8a7a8;
	font-family:'open_sansregular';
	font-size:12px;
	font-weight:normal;
	padding:3px 2px;
	width:240px;
}

.form-signin input[type=submit] {
	background:#202628;
	border:solid 1px #666e6f;
	color:#fff;	
	font-family:'open_sansregular';
	font-size:12px;
	font-weight:normal;
	float:right;
	margin-right:20px;
	padding:4px 0px;	
	width:70px;	
}

.form-signin a { 	 
	color:#a8a7a8;
	font-family:'open_sansregular';
	font-size:12px;
	font-weight:normal;
	float:right;
	margin-right:15px;
	padding:4px 5px;	
}

.error-display {
	color:#dca7a7;
	font-family:'open_sansregular';
	font-size:12px;
	font-weight:normal;
	margin:5px 0px 5px 130px ;
}

.alert {
	font-family:'open_sansregular';
	padding:2px 4px;
	margin-bottom:5px;
}

.alert h3 {
	font-size:14px;
	font-weight:normal;
}