@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular.woff') format('woff'),
        url('../fonts/opensans-regular.ttf') format('truetype'),
        url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
        url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family:'Futura-Book';
    src: url('../fonts/Futura-Book.eot');
    src: url('../fonts/Futura-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Book.woff') format('woff'),
        url('../fonts/Futura-Book.ttf') format('truetype'),
        url('../fonts/Futura-Book.svg#Futura-Book') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family:'Futura-Light';
    src: url('../fonts/Futura-Light.eot');
    src: url('../fonts/Futura-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Light.woff') format('woff'),
        url('../fonts/Futura-Light.ttf') format('truetype'),
        url('../fonts/Futura-Light.svg#Futura-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'interstate-lightnormal';
    src: url('../fonts/interstate-light.eot');
    src: url('../fonts/interstate-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/interstate-light.woff') format('woff'),
        url('../fonts/interstate-light.ttf') format('truetype'),
        url('../fonts/interstate-light.svg#interstate-lightnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Futura_Bold';
    src: url('../fonts/Futura-Bold.eot');
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Futura-Bold.woff') format('woff'),
        url('../fonts/Futura-Bold.ttf') format('truetype'),
        url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura-normal';
    src: url('../fonts/futura-medium-webfont.eot');
    src: url('../fonts/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura-medium.woff') format('woff'),
        url('../fonts/futura-medium-webfont.ttf') format('truetype'),
        url('../fonts/futura-medium-webfont.svg#futura-medium-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helvetica-lightregular';
    src: url('../fonts/helvetica_light.eot');
    src: url('../fonts/helvetica_light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica_light.woff') format('woff'),
        url('../fonts/helvetica_light.ttf') format('truetype'),
        url('../fonts/helvetica_light.svg#helvetica-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold.eot');
    src: url('../fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/helvetica-bold.woff') format('woff'),
        url('../fonts/helvetica-bold.ttf') format('truetype'),
        url('../fonts/helvetica-bold.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul, li, input{ outline:none;}
body {
    padding:0;
    background:#1a1a1a;
    font-family:'open_sansregular';
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    display:none;
}

#dvLoading
{
    background:url('../images/loader.gif') no-repeat center center;
    height: 100px;
    width: 100px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    display:none;
}

#container {
    width:100%;
    margin:0;
    padding:0;
    min-height:100%;
    height:auto;
}

header {
    width:100%;
    background:#1a1a1a;
}

.navbar {
    /*opacity:0.9;*/
    background: #2f2f2f;
    height:60px;
}

#content {
    color:#fff;
    background:#070707;
    position:relative;
    top:51px;
    width:100%;
    clear:both;
}

.content_container {
    width:100%;
    padding:35px 0px;
    float:left; background:#070707;
}

.panel {
    background-color: #2a2a2a;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0;
}

.panel-default {
    width:91%;
    margin:0px auto;
    border-color: #1a1a1a;
}

.wrapp {
    width:91%;
    margin:0px auto;
}

.panel-default > .panel-heading {
    background-color: #21bedf;
    margin: 10px 0px 0px 0px;
    color:#fff;
    width:100%; 
    float:left;
    border-radius:0px;
    border-bottom:1px solid #2a2a2a;
    /*opacity:0.8;*/
}
.detail_cnt{
    width:100%; 
    float:left; padding:0px;
}

.navbar-default {
    border:solid 0px;
    /*opacity:0.8;*/
}

#genmidnav {
    border:solid 0px #fff;
    min-width:40%;
    float:left;
    margin:0px 0px 0px 30px;
}

#genrgnav {
    border:solid 0px #fff;
    min-width:20%;
    float:right;
    margin:15px 0px 0px 0px;
}
.btn-group {
    float:right;
}

#livestream {
    float:right;
}

.thumbnail {
    background:#272727;
    border:none;
    text-align:center;
    border-radius:10px;
}

.thumbnail h3 {
    color:#ffffff;
    font-family:'open_sansregular';
    font-size:16px;
    padding-top:0px;
    margin-top:7px;
}
.caption_ptg{ margin-bottom:1px;}

.well {
    background:#131313;
    border:none;
    text-align:center;
    /*	color:#a8a7a8;*/
    color:#fff;
    font-family:'open_sansregular';
    font-size:12px;
    width:100%;
    float:left;
    border-radius: 0;
}
.number_btns{ border:none; background:none; font-size:26px; color:#fff;  font-family: 'OpenSans-Bold';}
.well_bottom {
    background:#131313;
    width:100%;
    float:left;
    padding: 2% 0 0;

}
.box_cnt {
    float: left;
    margin: 0 1% 0 0;
    padding: 0 0.5%;
    width: 100%;
}

.caption_box{ padding:5px 0;}
.well h2 {
    color:#fff;
    font-family:'open_sansregular';
    font-size:18px;
    text-align:left;
    margin:0 0 10px 0;
}

.panel-title {
    font-family:'open_sansregular';
    font-size:18px;
    font-weight: 300;
}

#footer {
    float: left;
    position: relative;
    text-align: center;
    top: 52px;
    width: 100%;
}

#footer p {
    padding:40px 0px 20px 0;
    font-family:'open_sansregular';
    font-size:14px;
    font-weight:normal;
    text-align:center;
    color:#feffff;
    border-top:1px solid #293914;
}

.error-display {
    color:#dca7a7;
    font-family:'open_sansregular';
    font-size:12px;
    font-weight:normal;
    margin:10px 0px 10px 10px;
    float: left;
}

.alert {
    font-family:'open_sansregular';
    padding:2px 4px;
    margin-bottom:25px;
}

.alert h3 {
    font-size:14px;
    font-weight:normal;
    margin-top: 10px;
}

.form-horizontal .control-label {
    text-align:left;
    color: #b4b4b4 !important;
    font-size: 14px;
    font-family:'open_sansregular';
    font-weight:400;

}

.form-control {
    background: none repeat scroll 0 0 #1a1a1a;
    border: 1px solid #323232;
    border-radius: 3px;
    float: left;
    font-size: 13px;
    height: 40px;
    padding: 10px 1%;
    width: 50%;
    color:#FFF;
}

.form-group input[type=password] {

    background: none repeat scroll 0 0 #1a1a1a;
    border: 1px solid #323232;
    float: left;
    font-size: 13px;
    height: 40px;
    padding: 10px 1%;
    width: 50%;


    /*display: block;

height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width:50%;
    background:#1a1a1a;
    color:#a8a7a8;
    border:solid 1px #353535;
    */}

input[type=submit] {
    background: none repeat scroll 0 0 #21bedf;
    border: medium none #4d4d4d;
    color: #fff;
    float: left;
    font-size: 14px;
    padding: 6px 20px;
    border-radius:3px;
}

input[type=button] {
    background: none repeat scroll 0 0 #353535;
    border: medium none #353535;
    color: #fff;
    float: left;
    font-size: 14px;
    padding: 6px 32px;
    border-radius:25px;
    margin-left:10px;
}

.nav-tabs { 
    border:solid 0px ;
}
.nav-pills>li>a {
    color:#5196ce;
}

#tognav li {
    border:solid 0px ;

}
#tognav li:hover a{ color:#fff !important;}
#tognav li:hover{background: #131313;}
#tognav li.active{background: #131313 !important;}
#tognav li a {
    background: none !important;
    color:#fff !important;
    font-family:'open_sansregular';
    font-size:14px;
}

.active a {
    color:#4d4d4d;
}

.btn .btn-default {
    background:#4d4d4d;
    border:#4d4d4d;
    color:#d4d4d4;
}

.nav-tabs>li {
    border:solid 0px;
}

.nav-tabs>li a{
    border:solid 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background:#353535;
    border:solid 0px;
}

.active a {

    color:#51a2ba;
}

.pagination {
    float:right;
}

.table {

    color: #a8a7a8;
    font-family: 'open_sansregular';
    font-size: 12px;

}

.table>thead>tr>th {
    border-bottom:solid 2px #1e1e1e;
    background:#8cc739;
    text-transform:capitalize;
    color: #333333;
    font-family: "open_sansregular";
    font-size: 13px;
    font-weight: bolder;
    text-align:center;
}

.table>tbody>tr>th {
    border:none;
    text-align:center;
}

.table>tbody>tr>td {
    border:none;
    text-align:center;
    font-family: "open_sansregular";
    color:#fff;
    font-size:12px;
    padding:12px 0;
}
.table > tbody > tr:nth-child(2n){ background:#404e2b;}
.table > tbody > tr:nth-child(2n) > td{padding:6px 0;}
.table > tbody > tr:nth-child(2n):hover{ background:#404e2b;}
.table-hover {

}
.panel-body.doc_c span{ float:left; width:100%;}
.selct_box{
    background: none repeat scroll 0 0 #fff;
    border:none;
    border-radius: 10px;
    font-size: 13px;
    color:#000;
    height: 34px;
    padding: 5px 1%; outline:none;
    width: 6%;
}
.selct_box option{outline:none;}
.entry{ color:#666666; float:left; width:10%;}
.table-hover>tbody>tr:hover {
    background:#191f19;
    /*opacity:0.9;*/
}

/**************radhi************/
.head_logo{
    color:#ffffff !important;
    font-family:'OpenSans-Semibold';
    font-size:20px;
    padding: 18px 0 !important;

}
.head_mnu {
    padding: 18px 10px !important; font-size: 15px !important; color:#fff !important; 
}

.head_mnu:hover{ color:#fff !important; background:#21bedf !important; border-radius:0px !important;}

.head_logo .tv{ color:#21bedf;}

.signed_hud{ background:none !important; border:none !important;}


.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}
*:after, *:before {
    box-sizing: border-box;
}
.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content: " ";
    display: table;
}
*:after, *:before {
    box-sizing: border-box;
}

.panel-body {
    margin-top: 10px;
    width:100% !important; float:left;
}
.com_bdy {
    background: none repeat scroll 0 0 #1b1b1c;
    float: left;
    margin: 0;
    padding: 10px 1% !important;
    width: 100%;
}
.pagination li {
    border-radius: 21px;
    float:left;
    margin: 0 3px;
    padding: 0 1px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {border-radius: 3px;}
.pagination > li:last-child > a, .pagination > li:last-child > span {border-radius: 3px;}
.pagination > li > a, .pagination > li > span { border-radius: 3px;}
.pagination > li.active span{ background:#537c16;}
.pagination > li.active:hover a{ background:#537c16;}
.pagination > li.active span{ color:#fff;}
.pagination > li > a, .pagination > li > span { background:#537c16; border:none; color:#fff;}
.pagination > li:hover a{background:#537c16; color:#fff;}
.doc_c{ background: none repeat scroll 0 0 #131313; margin-top:10px;}
.pagination > li:last-child a{ background:#fff;  color:#000;}
.radio{ float:left; width:13%;}
.radio #pre_roll{ float:left; position:inherit; margin:2px 8% 0 0;   padding:0px;}
.col-sm-10.radio > label {
    float: left; margin:0px 8% 0 0; padding:0px;
}

.tabl_vedio tr td:first-child{ padding:15px 10px 15px 5px; margin:0px; background:#000000 !important;}
.tabl_vedio tr td:last-child{ padding:15px 10px 15px 10px; margin:0px; background:#000000 !important;}
#drags{ width:98%; float:left; margin:0 2%;}
#drags > ul {    margin: 0; padding: 0; width: 100%;}

.ui-state-default.ui-draggable.ui-draggable-handle{ background:#1f1f1f; border:none; }
#draggable li {border-bottom:1px solid #000; margin-bottom:1px !important; padding:10px !important; list-style-type: none;}
#draggable li:hover{ background:#1f1f1f !important;}
#draggable li img {float: left !important; margin: 0; max-width: 80px; padding: 0; width: 100%;}

.ui-state-default.ui-draggable.ui-draggable-handle > h3 {color: #fff; float:left; width:66%; margin-left:2%; font-size:13px !important;  font-family: 'open_sansregular'; margin-top:10px; font-weight:400;}

#collection{ width:98%; float:left; margin:0 2%; background:#000; border:1px solid #4b6a1e; padding:8px 0; margin-bottom:10px; font-size:13px; color:#fff;}
.ui-sortable { border: medium none !important; height: 251px !important; overflow:auto; margin: 0 0 0 0; padding: 0; width: 100%;}
#sortable li{ border-bottom:none !important;}
#sortable li:hover { background:#1f1f1f !important; cursor: pointer;}
.ui-state-default.ui-draggable.ui-draggable-handle{ padding:0px !important; margin-bottom:1px;}
#sortable li img{float: left !important;  margin: 0 !important;  max-width: 80px;  padding: 0;  width: 100%;}
.fav{ width:100%; float:left; color:#fff; font-size:14px; font-family:'OpenSans-Semibold';  margin: 10px 0 11px; padding: 0 0 10px; border-bottom:1px solid #676767; }
.nav.nav-pills > li.active{ background:none;}



.nav > li > a:focus, .nav > li > a:hover{ background:#21bedf !important}
.nav-pills li a{ border-radius:0px !important;}
.ui-state-default.ui-sortable-handle {
    background: none repeat scroll 0 0 #1f1f1f !important;
    border: medium none !important;
    margin-bottom: 1px;
    padding: 0 !important;
}

.ui-state-default.ui-sortable-handle > img {
    float: left !important;
}
.ui-state-highlight{background: none!important; border:none !important;}
.ui-state-default.ui-sortable-handle > h3 {
    float: left;
    margin-left: 2%;
    width: 66%;
}

.minibox {
    float: right;
    margin-right: 2%;
    margin-top: 21px;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
    background: none repeat scroll 0 0 #8cc739;
    border: medium none;
    border-radius: 0 !important;
    width: 100%;
}

.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
    border: medium none;
}



.ui-dialog-buttonset > button {
    background: #21bedf;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    font-family: "open_sansregular" !important;
}

#dialog-status > p{font-family: "open_sansregular";}
.ui-dialog-title{font-family: "open_sansregular";}
.sort_class { color:#333333; }
.sort_class:hover { color:#333333; text-decoration:none; }
.sort_class:visited { color:#333333; text-decoration:none; }

.error-display.trail { margin-left: 200px; }
.ui-accordion .ui-accordion-header .ui-accordion-header-icon  { width:16px; }

.ui-accordion-header.ui-state-default.ui-accordion-icons.ui-accordion-header-active.ui-state-active.ui-corner-top{ color:#000000; font-size:16px;  font-family: "open_sansregular";}
.ui-accordion-content.ui-helper-reset.ui-widget-content.ui-corner-bottom.ui-accordion-content-active {
    padding: 20px 10px;
}

.ui-accordion.ui-widget.ui-helper-reset {
    background: none repeat scroll 0 0 #000000;
    padding: 10px;
}
.ui-accordion-header.ui-state-default.ui-accordion-header-active.ui-state-active.ui-corner-top.ui-accordion-icons {
    background: none repeat scroll 0 0 #97ce41; border:none; border-radius:0px; color:#000000; font-size:16px; font-family: "open_sansregular";
}
.ui-accordion .ui-accordion-header {margin: 1px 0 0 !important;}

.ui-accordion-header.ui-state-default.ui-accordion-icons.ui-corner-all {
    background: none repeat scroll 0 0 #97ce41; border:none; border-radius:0px; color:#000000; font-size:16px;
}
.vedio_cnt{ float:left; margin:0px; padding:0px; width:100%;}
.vedio_cnt li{border-bottom: 1px solid #000;
              float: left;
              list-style: none outside none;
              margin: 3px 0;
              padding: 9px 0;
              width: 100%; }
.vedio_rft{ width:85% !important; float:right !important;}
.vedio_rft h6{font-family: "open_sansregular"; font-size:14px; color:#fff; padding:0px; margin:0 0 7px 0;}
.vedio_rft p{font-family: "open_sansregular"; font-size:12px; color:#fff; padding:0px; margin:0 0 0px 0;}
.vedio_lft{ width:15% !important; float:left !important;}
.vedio_rft > a {    color: #fff !important;  font-size: 12px !important; font-family: "open_sansregular";   margin: 0 !important;   padding: 0 !important;}
#accordion div { border:none;}
.lft_img {
    float: right; width:15%; position:relative;
}
.lft_img a:last-child img{position: absolute;
                          left: 60px;
                          top: 7px;}
.lft_img a{ margin:0 5%;}

.pagination.pagination-lg {
    float: left;
    width: 80%;
    margin:0px;
    padding:0px;
}
.pagination.pagination-lg > li {
    border: medium none;
    border-radius: 0;
    display: inline-block !important;
    float: left !important;
    margin: 0;
    padding: 0;
    width: 6%;
}

.pagination.pagination-lg a {
    border-radius: 0 !important;
    font-size: 14px;
    padding: 4px 11px;
    background:#7c7c7c !important;
}
.pagination.pagination-lg li.active a{background:#26c5e3 !important;}
.pagination.pagination-lg > span {
    float: left;
    margin-left: 2%;
    padding-top: 6px;
    width: 19%; font-family: "open_sansregular";
}

.detail_cnt{ float:right; width:31.5%; background:#000000;}
.detail_cnt .detail_cnt_top{ background:#191919; padding:18px 10px; float:left; width:100%;}
.detail_cnt .detail_cnt_top h3{font-family: "open_sansregular"; font-size: 24px; color:#fff; float:left; padding:0px 0 10px 0 !important; margin:0px !important;}
.detail_cnt .detail_cnt_top p{font-family: "open_sansregular"; font-size: 13px; color:#fff; float:left; padding:0px 0 15px 0 !important; margin:0px !important;}
.detail_cnt .detail_cnt_top input[ type="text"]{ background:none; border:1px solid #dad4dd; width:100%;  float:left; margin-bottom:15px; border-radius:10px; padding:6px 0;}
.detail_cnt .detail_cnt_top input[ type="button"]{ border:none; float:right; font-size:16px; font-family: "open_sansregular"; color:#000000; background:#fff; width:23%;  border-radius:10px; padding:3px 0;}
#accordion {float: left;}




.detail_cnt .detail_cnt_btm{ padding:18px 0px; float:left; width:100%;}
.detail_cnt .detail_cnt_btm .vedio_cnt_nxt{ float:left; margin:0px; min-height:300px; padding:0px 8px; width:100%; background:#121212; overflow-y: scroll; height:400px;}
.detail_cnt .detail_cnt_btm .vedio_cnt_nxt label{float:left; width:95%; font-size:18px; color:#ffffff; font-family: "open_sansregular"; border-bottom:1px solid #909090; padding-bottom:10px;}
.detail_cnt .detail_cnt_btm .vedio_cnt_nxt li{border-bottom: 1px solid #000;
                                              float: left;
                                              list-style: none outside none;
                                              margin: 3px 0;
                                              padding: 9px 0;
                                              width: 329px; }
.detail_cnt .detail_cnt_btm .vedio_cnt_nxt li .vedio_rft{ width:70% !important; float:right !important;}
.detail_cnt .detail_cnt_btm .vedio_cnt_nxt li .vedio_rft h6{font-family: "open_sansregular"; font-size:14px; color:#fff; padding:0px; margin:0 0 7px 0;}
.detail_cnt .detail_cnt_btm .vedio_cnt_nxt li .vedio_rft p{font-family: "open_sansregular"; font-size:12px; color:#fff; padding:0px; margin:0 0 0px 0;}
.detail_cnt .detail_cnt_btm .vedio_cnt_nxt li .vedio_lft{ width:30% !important; float:left !important;}
.detail_cnt .detail_cnt_btm .vedio_cnt_nxt li .vedio_rft > a {    color: #fff !important;  font-size: 12px !important; font-family: "open_sansregular";   margin: 0 !important;   padding: 0 !important;}

/************************************jeevitha*********************************/
.media-btm-list {
    float: left;
    position:relative !important;
    width: 100%;
}
.media-btm-list .sub-tlt-media {
    bottom: 0;
    color: #fff !important;
    font-family: arial;
    font-size: 8px;
    font-weight: bold;
    padding: 4px;
    position: absolute;
    right: 19px;
    z-index: 976;
}
.media-btm-list .sub-tlt-media1 {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7) !important;
    bottom: 0;
    font-family: open_sansregular;
    font-size: 9px;
    line-height: 7px;
    padding: 6px;
    position: absolute;
    right: 19px;
    z-index: 1036;
}
/***************************************video-css*************************************/
.video-gallery{ width:100%; float:left;}
.video-gallery > ul { float: left;width: 100%; margin-top:10px;}
.video-gallery > ul li{ list-style-type:none; float:left; padding-right:20px; margin-bottom: 60px;}
.video-gallery > ul li:last-child{padding-right:0px !important;}
.video-gallery-thumb{float:left; width:100%;  position: relative; margin-bottom:7px;}
.video-btm-txt {background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7) !important;bottom: 0;left: 0;position: absolute; width: 100%;}
.video-btm-txt-first {float: left;padding: 9px 8%;width: 99%;}
.album-txt {color: #97ce41;float: left;font-family: open_sansregular;font-size: 12px;}
.album-dur {float: right; color:#767676; font-family: open_sansregular;font-size: 12px;}
.videotxt {float: left;padding-top: 5px;text-align: left;width: 100%;color:#767676;font-family: open_sansregular;font-size: 12px;}

.video-status{width:100%; float:left;}
.video-stat-lft{float:left;}
.stat-txt {color: #fff;float: left;font-family: open_sansregular;font-size: 13px;}
.stat-compen {float: left;padding-left: 4px; font-family: open_sansregular;font-size: 13px; color:#21bedf;}
.video-icon-rgt{float:right;}
.video-icon-rgt a{ padding-left:2px;}
.clr{clear:both;}
.ui-accordion-content-active { height:400px !important; }
.load_more { background: none repeat scroll 0 0 #4b6a1e; color: #fff; padding:5px 0px;  box-shadow: 0 0 10px #567a21; clear:both; text-align:center;}
.load_more a {  color: #fff; font-weight:bold; }
#loading { background: none repeat scroll 0 0 #4b6a1e; color: #fff; padding:5px 0px; box-shadow: 0 0 10px #567a21; font-weight:bold;  clear:both; text-align:center;}

.media_details { width:900px; margin:0px auto;}
.media_details h3 {  color : #97ce41; font-size:18px; font-family:'OpenSans-Semibold'; width:900px; border-bottom:solid 1px #262626; padding:8px 0px; }
.media_details p>span { width:160px; font-family: 'open_sansregular'; font-size:16px; color:#21bedf;  font-weight:normal; border:solid 0px red; display:block; margin:5px 0px; }
.media_details p { width:900px; font-family: 'open_sansregular'; font-size:16px; color:#fff; font-weight:normal; }
.media_details p.metadata { width:900px; }
.loadmlibrary{ text-align:center; background: none repeat scroll 0 0 #4b6a1e; padding:10px 0; width:200px; border-radius:10px; margin:100px auto 0 auto; }


.radio > label {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
}

.lft_img img {
    float: left;
    padding: 0 2%;
}


.ui-dialog-buttonset {
    width: 30%;
}

.ui-dialog-content.ui-widget-content{overflow: inherit !important;}
.validateTips{color : #fff; font-size:16px; font-family:'OpenSans-Semibold';}

.frm_live_stream label{color : #fff; font-size:15px; font-family:'OpenSans-Semibold'; font-weight:normal; padding-left:0px;}
.frm_live_stream input{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                       border: 1px solid #fff !important;
                       color: #fff !important;
                       font-family: "OpenSans-Semibold" !important;
                       font-size: 13px !important;
                       font-weight: normal;
                       margin-left: 1%;
                       padding: 6px 1%;}
.frm_live_stream fieldset{ margin-top:20px;}
.frm_live_stream.ui-dialog-content.ui-widget-content{ height:inherit !important;}
.frm_live_stream button {
    background: #21bedf;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    padding: 5px 0;
    width: 30% !important;
    font-family: "open_sansregular" !important;
}
.frm_live_stream .ui-dialog-buttonset:nth-child(1){ width:80% !important; }
.frm_live_stream{ background: #131313 !important;}
.frm_live_stream .ui-dialog-buttonset{ background: #131313 !important; }
.frm_live_stream .ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix{ background: #131313 !important;}
.frm_live_stream .ui-widget-content{ border:none !important;}
.rtxt { margin-left:20px; }
.selectbox {   background: none repeat scroll 0 0 #1a1a1a;
               border: 1px solid #323232;
               border-radius: 10px;
               float: left;
               font-size: 13px;
               height: 40px;
               padding: 10px 1%;
               width: 50%;  }
.w8 { width:8% !important; }
.w15 { width:15% !important; }

/******Mar 6******/
.tblVideodetails { width:100%; }
.tblVideodetails tr { border-bottom:dashed 1px #262626; }
.vdLft { width:25%; padding:10px 0px; text-align:left; font-family: "open_sansregular"; font-size: 12px;font-weight: normal; color: #21bedf; vertical-align: top; }
.vdMdl { width:5%; padding:10px 0px; text-align:center; color: #21bedf; font-family: "open_sansregular"; font-size: 12px;font-weight: normal; vertical-align: top; }
.vdRgt { width:70%; padding:10px 0px; text-align:left; font-family: "open_sansregular"; font-size: 12px;font-weight: normal; vertical-align: top; }

.ui-sortables {
    width: 90%;
    margin: 10px auto;
    -webkit-box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    box-shadow:  0px 0px 10px 1px rgba(0, 0, 0, .1);
    list-style-type: none; 
    padding: 0; 
}
.ui-sortables li.ui-state-default { 
    margin: 10px 0px; 
    height: 45px;
    line-height: 48px;
    font-size: 1.4em; 
    color: #fff;
    outline: 0;
    padding: 0;
    text-indent: 15px;
    background: #2c3135 !important;
    text-shadow: -1px -1px 0px rgba(0,0,0,.5);
    font-size: 1.1em;
    position: relative;
    cursor: move;
    opacity:0.8;
}

.ui-sortables-placeholder {
    border: 3px dashed #aaa;
    height: 45px;
    background: #ccc;
}
.ui-sortables li.ui-state-default:after {
    content: url('../images/updown.png');
    display: inline-block;
    font-family: "open_sansregular";
    position: absolute;
    right: 18px;
    top: 9px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    cursor: move;
    background: #2c3135;
    opacity:0.8;
}

.ui-sortables  >  li  > span { color : #fff; font-family: "open_sansregular"; font-size:14px; font-weight:normal; }
.ui-sortables  >  li  > ul { float:left; width:90%; float:left; margin-left:20px;}
.ui-sortables  >  li  > ul  > li{ float:left; width:100%;}
.switch {
    position: relative;
    margin: -4px 0px 20px 5%;
    height: 38px;
    width: 360px;
    background: #131313;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    float:left;
}

.switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 180px;
    font-family:'open_sansregular';
    line-height: 36px;
    font-size: 14px;
    color: #C9C1C1;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    cursor: pointer;
    font-weight: normal;
}

.switch-label:active {
    font-weight: normal;
}

.switch-label-off {
    padding-left: 2px;
}

.switch-label-on {
    padding-right: 2px;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch-label {
    font-weight: normal;
    color: #fff;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
}

.switch-input:checked + .switch-label-on ~ .switch-selection {
    /* Note: left: 50% doesn't transition in WebKit */
    left: 180px;
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 180px;
    height: 36px;
    background: #65bd63;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
    background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
    background-image: -o-linear-gradient(top, #9dd993, #65bd63);
    background-image: linear-gradient(to bottom, #9dd993, #65bd63);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}
/*2e6da4*/
.switch-blue .switch-selection {
    background: #337ab7;
    background-image: -webkit-linear-gradient(top, #337ab7, #337ab7);
    background-image: -moz-linear-gradient(top, #337ab7, #337ab7);
    background-image: -o-linear-gradient(top, #337ab7, #337ab7);
    background-image: linear-gradient(to bottom, #337ab7, #337ab7);
}

/*****-Apr 16 2015-*****/
.div_posters {
    width: 300px; 
    float: left;
    border: solid 0px red;
}

.div_posters img { float: left; }
.div_posters span { margin: 10px 0px; width: 270px; }

.suc-display {
    color: #b4f5b4;
    float: left;
    font-family: "open_sansregular";
    font-size: 12px;
    font-weight: normal;
    margin: 10px 0 10px 10px;
}

/**********************/
*{ margin:0; padding:0;}
.table_wrap{ width:100%; float:left;}
.table_wrap .col{ padding:8px 1%; float:left; text-align:center; word-wrap: break-word;}
.table_wrap .colu_0{ width:6%; text-align:left !important; padding:8px 1%;}
.table_wrap .colu_1{ width:12%; text-align:left !important; padding:8px 1%;}
.table_wrap .colu_2{ width:30%; text-align:left !important; padding:8px 0%;}
.table_wrap .colu_3{ width:10%;}
.table_wrap .colu_4{ width:9%;}
.table_wrap .colu_5{ width:9%;}
.table_wrap .colu_6{ width:12%;}
.table_wrap .colu_7{ width:12%;}
.table_wrap .colu_8{ width:15%;}
.table_wrap .colu_9{ width:20%;}
.table_wrap .colu_10{ width:35%;}

.table_wrap .tr_title { background:#8cc739; border-bottom: 2px solid #1e1e1e; color: #333333; font-family: "open_sansregular"; font-size: 13px; font-weight: bolder;
                        text-align: center;  text-transform: capitalize; width:100%; float:left; line-height:20px;}
.table_wrap .tr_title a{ color: #333333; }
.table_wrap  ul.table_sec{ width:100%; float:left; list-style:none;}
.table_wrap  ul.table_sec > li{ width:100%; float:left;}
/*.table_wrap  ul.table_sec > li:nth-child(2n){ background:#404e2b;}*/

.table_wrap  ul.table_sec > li img{ display:inline-block; margin:0px 2px;}
.table_wrap  ul.table_sec li, .table_wrap  ul.table_sec li a{ color: #fff; font-family: "open_sansregular";  font-size: 12px; list-style:none; }
.table_wrap  ul.table_sec > li ul.cat_list{ width:100%; float:left;}
.table_wrap  ul.table_sec > li ul.cat_list li{ width:100%; float:left; padding:5px 0px 5px 10%; /*background:#404e2b;*/}
.table_wrap  ul.table_sec > li ul.cat_list li ul{ width:95%; float:left; margin:5px 5% 5px 0px; border:1px solid rgba(255,255,255,0.1);}
/*.table_wrap  ul.table_sec li:hover { background-color:#191f19;}*/
/*.table_wrap > ul.table_sec > li ul.cat_list li ul li{background:#131313;}*/

/*.table_wrap  ul.table_sec > li ul.cat_list > li{ background:url(../images/cat_icon.png) no-repeat 5px 5px #404e2b; border-bottom:1px solid #6f8253; }*/
.table_wrap  ul.table_sec > li ul.cat_list > li{ background:none no-repeat 0px 0px #404e2b; border-bottom:1px solid #6f8253; }
.table_wrap  ul.table_sec > li ul.cat_list li{ background-color:#404e2b; /*border-bottom:1px solid #6f8253;*/}
.table_wrap  ul.table_sec > li ul.cat_list li:nth-child(2n){ background-color:#131313;}

/*.table_wrap  ul.table_sec > li > .col.colu_2.categ{ background:url(../images/cat_icon.png) no-repeat 0px 8px;} */
.table_wrap  ul.table_sec > li > .col.colu_2.categ{ background:none no-repeat 0px 0px;}
.table_wrap  ul.table_sec > li > .col.colu_2.categ{ padding-left: 0px;}
.table_wrap  ul.table_sec ul.table_sec .col.colu_2 { margin-left:1%; width:29%;}
.table_wrap  ul.table_sec ul.table_sec ul.table_sec .col.colu_2 { margin-left:2%; width:28%;}
.table_wrap  ul.table_sec ul.table_sec ul.table_sec  ul.table_sec  .col.colu_2 { margin-left:4%; width:26%;}
.table_wrap  ul.table_sec ul.table_sec ul.table_sec  ul.table_sec  ul.table_sec .col.colu_2 { margin-left:6%; width:24%;}
.table_wrap  ul.table_sec ul.table_sec ul.table_sec  ul.table_sec  ul.table_sec  ul.table_sec .col.colu_2 { margin-left:8%; width:30%;}
.table_wrap  ul.table_sec ul.table_sec ul.table_sec  ul.table_sec  ul.table_sec  ul.table_sec ul.table_sec .col.colu_2 { margin-left:10%; width:28%;}
.table_wrap  ul.table_sec ul.table_sec ul.table_sec  ul.table_sec  ul.table_sec  ul.table_sec ul.table_sec ul.table_sec .col.colu_2 { margin-left:12%; width:26%;}
.table_wrap  ul.table_sec ul.table_sec ul.table_sec  ul.table_sec  ul.table_sec  ul.table_sec ul.table_sec ul.table_sec ul.table_sec .col.colu_2 { margin-left:14%; width:24%;}
.table_wrap  ul.table_sec ul.table_sec ul.table_sec  ul.table_sec  ul.table_sec  ul.table_sec ul.table_sec ul.table_sec ul.table_sec ul.table_sec .col.colu_2 { margin-left:16%; width:22%;}
.table_wrap  ul.table_sec ul.table_sec ul.table_sec  ul.table_sec  ul.table_sec  ul.table_sec ul.table_sec ul.table_sec ul.table_sec ul.table_sec ul.table_sec .col.colu_2 { margin-left:18%; width:20%;}

.table_sec.child1 {
    float: left;
    z-index: 999;
}
.categ{ background:url(../images/cat_icon.png) no-repeat 0px 8px;} 
.table_sec > li  .child1{background:#2f2f2f;}
.table_sec > li  .first_comn{ width:100%; float:left; background:#2f2f2f; margin-bottom:1px;}
.table_sec > li:nth-child(2n) .child1{background: #404e2b !important;}
.table_sec > li:nth-child(2n) .first_comn{background: #404e2b; width:100%; float:left; margin-bottom:1px;}

div.category{ background:url(../images/category.png) no-repeat 0px 8px; padding-left: 18px !important; }
div.lstream{ background:url(../images/live_stream.png) no-repeat 0px 8px; padding-left: 20px !important; }
div.vod{ background:url(../images/vod.png) no-repeat 0px 9px;  padding-left: 21px !important;}
.col.colu_5 > img {
    float: right;
    margin-top: 3px;
}



ul#demo2{ width:100%; float:left; list-style:none;  border:none;}
#demo2 li{ width:100%; float:left; list-style:none;  border:none; background:url(../images/updown.png) no-repeat 99% 10px #2c3135;  margin:4px 0; color:#fff; line-height:44px; }
#demo2 li > ul{ width:100%; float:left; padding-left:40px; background:none repeat scroll 0 0 #131313; border:none;}
#demo2 li img{ padding:0 10px;}
#demo2 li > ul > li{border: none;}
#demo2 > li {border: 1px solid #666 !important;}
.nimble_heading{margin: 30px 0px 30px 0px;}
.nimble-mode{color: #080; font-size: 18px; font-weight: bold;}

.cus-notice{
    width: 100%;
    text-align: left !important;
    margin-left: 15px;
    color: #deb887;
}

.perpage-select .selct_box{
    width: 20%;
    border-radius: 3px;
}
.perpage-select{
    font-family:'open_sansregular';
    font-size:12px;
    float: left;
    width: 30%;
    margin: 20px 0;
}

/* Button 0 */
.button-wrap {
    width: 60px;
    margin: 0;
    cursor: pointer;
}
.button-bg {
    background-color: #000;
    border-radius: 40px;
    padding: 3px;
    color: #fff;
    transition: all 0.2s ease;
}

.button-switch {
    position: relative;
    left: 0px;
    width: 74px;
    height: 74px;
    border: solid 6px;
    border-radius: 36px;
    transition: all 0.2s ease;
}
.button-active .button-switch {
    left: 80px;
}
.button-on,
.button-off {
    position: absolute;
    transition: all 0.2s ease;
    padding-top: 15px;
    font-size: 2.4em;
    font-weight: bold;
}
.button-on {
    margin-left: 110px;
}
.button-off {
    margin-left: 30px;
    color: #dd2222;
}
.button-active .button-off {
    color: #fff;
}
.button-active .button-on {
    color: #22dd22;
}
.button-active .button-bg {
    background-color: #000;
}
/* BUTTON 5 */
.five .button-wrap {
    margin: 0 auto;
    cursor: pointer;
}
.five .button-bg {
    width: 65px;
    height: 21px;
    background-color: #9DDD33;
    border-radius: 40px;
    padding: 2px;
    color: #fff;
    transition: all 0.2s ease;
}
.five .button-switch {
    position: relative;
    left: 0px;
    width: 30px;
    height: 17px;
    background-color: #fff;
    /*border:solid 13px;*/
    border-radius: 30px;
    transition: all 0.2s ease;
}
.five .button-active .button-switch {
    left: 31px;
}
.five .button-in,
.five .button-out {
    position: absolute;
    transition: all 0.2s ease;
    padding-top: 2px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.five .button-in {
    margin-left: 40px;
}
.five .button-out {
    margin-left: 10px;
    color: #dd2222;
}
.five .button-active .button-out {
    color: #fff;
}
.five .button-active .button-in {
    color: #22dd22;
}
.five .button-active .button-bg {
    background-color: #5A5A5A;
}
.cus-btn {
    margin-top: 2px;
    display: inline-block;
}