@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold.woff') format('woff'),
         url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family:'Futura-Book';
    src: url('../fonts/Futura-Book.eot');
    src: url('../fonts/Futura-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Book.woff') format('woff'),
         url('../fonts/Futura-Book.ttf') format('truetype'),
         url('../fonts/Futura-Book.svg#Futura-Book') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face
{
    font-family:'Futura-Light';
    src: url('../fonts/Futura-Light.eot');
    src: url('../fonts/Futura-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Light.woff') format('woff'),
         url('../fonts/Futura-Light.ttf') format('truetype'),
         url('../fonts/Futura-Light.svg#Futura-Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'interstate-lightnormal';
    src: url('../fonts/interstate-light.eot');
    src: url('../fonts/interstate-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate-light.woff') format('woff'),
         url('../fonts/interstate-light.ttf') format('truetype'),
         url('../fonts/interstate-light.svg#interstate-lightnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Futura_Bold';
    src: url('../fonts/Futura-Bold.eot');
    src: url('../fonts/Futura-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Futura-Bold.woff') format('woff'),
         url('../fonts/Futura-Bold.ttf') format('truetype'),
         url('../fonts/Futura-Bold.svg#Futura-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura-normal';
    src: url('../fonts/futura-medium-webfont.eot');
    src: url('../fonts/futura-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura-medium.woff') format('woff'),
         url('../fonts/futura-medium-webfont.ttf') format('truetype'),
         url('../fonts/futura-medium-webfont.svg#futura-medium-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helvetica-lightregular';
    src: url('../fonts/helvetica_light.eot');
    src: url('../fonts/helvetica_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica_light.woff') format('woff'),
         url('../fonts/helvetica_light.ttf') format('truetype'),
         url('../fonts/helvetica_light.svg#helvetica-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticabold';
    src: url('../fonts/helvetica-bold.eot');
    src: url('../fonts/helvetica-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica-bold.woff') format('woff'),
         url('../fonts/helvetica-bold.ttf') format('truetype'),
         url('../fonts/helvetica-bold.svg#helveticabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	padding:0;
	background:#1a1a1a;
	font-family:'open_sansregular';
}

#container {
	width:100%;
	margin:0;
	padding:0;
	min-height:100%;
	height:auto;
}

header {
	width:100%;
	background:#1a1a1a;
}

.navbar {
	opacity:0.9;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	height:60px;
}

#content {
	color:#fff;
	background:#1a1a1a;
	position:relative;
	top:60px;
	width:100%;
	clear:both;
}

.content_container {
	width:100%;
	padding:20px 0px;
}

.panel {
	background-color: #2a2a2a;
    border: 0px solid transparent;
    border-radius: 0px;
    box-shadow: 0;
}

.panel-default {
	width:80%;
	margin:0px auto;
	border-color: #1a1a1a;
}

.panel-default > .panel-heading {
	background-color: #2a2a2a;
	border-bottom:solid 1px #3a3a3a;
	color:#fff;
	opacity:0.8;
}

.panel-body {
	background-color: #2a2a2a;
	opacity:0.9;
}

.navbar-default {
	border:solid 0px;
	opacity:0.8;
}

#genmidnav {
	border:solid 0px #fff;
	width:55%;
	float:left;
	margin:15px 0px 0px 30px;
}

#genrgnav {
	border:solid 0px #fff;
	width:20%;
	float:right;
	margin:15px 15px 0px 30px;
}
.btn-group {
	float:right;
}

#livestream {
	float:right;
}

.thumbnail {
	background:#373737;
	border:solid 2px #373737;
	text-align:center;
}

.thumbnail h3 {
	color:#a8a7a8;
	font-family:'open_sansregular';
	font-size:16px;
}

.well {
	background:#373737;
	border:solid 2px #373737;
	text-align:center;
	color:#a8a7a8;
	font-family:'open_sansregular';
	font-size:12px;
}

.well h2 {
	color:#a8a7a8;
	font-family:'open_sansregular';
	font-size:20px;
	text-align:left;
}

.panel-title {
	font-family:'open_sansregular';
	font-size:20px;
}

#footer {
	width:80%;
	position:relative;
	top:60px;
	margin:0px auto;
}

#footer p {
   padding:8px 0px;
   font-family:'open_sansregular';
   font-size:12px;
   font-weight:normal;
   text-align:center;
   color:#a8a7a8;
}

.error-display {
	color:#dca7a7;
	font-family:'open_sansregular';
	font-size:12px;
	font-weight:normal;
	margin:10px 0px;
	float: left;
}

.alert {
	font-family:'open_sansregular';
	padding:2px 4px;
	margin-bottom:5px;
}

.alert h3 {
	font-size:14px;
	font-weight:normal;
}

.form-horizontal .control-label {
	text-align:left;
}

.form-control {
	width:50%;
	background:#1a1a1a;
	color:#a8a7a8;
	border:solid 1px #353535;
}

.form-group input[type=password] {
	display: block;

height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	width:50%;
	background:#1a1a1a;
	color:#a8a7a8;
	border:solid 1px #353535;
}

input[type=submit] {
	float:left;
	background:#4d4d4d;
	border:#4d4d4d;
	color:#d4d4d4;
	padding:6px 20px;
}
.nav-tabs { 
	border:solid 0px ;
}
.nav-pills>li>a {
	color:#5196ce;
}

#tognav li {
	border:solid 0px ;
}

#tognav li a {
	background: none !important;
	color:#fff;
}

.active a {
	
	color:#4d4d4d;
}

.btn .btn-default {
	background:#4d4d4d;
	border:#4d4d4d;
	color:#d4d4d4;
}

.nav-tabs>li {
	border:solid 0px;
}

.nav-tabs>li a{
	border:solid 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background:#353535;
	border:solid 0px;
}

.active a {
	
	color:#51a2ba;
}